{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorpion</title>
    <link rel="stylesheet" href="{% static 'css/styleS.css' %}">
    <link rel="stylesheet" href="{% static 'css/Normalize.css' %}">
    
</head>
<body>
    <div class="contenedor">
        <div class="contenedorprinc">
            <div class="nolata"><!-- Aqui va todo  -->
                <div class="contenedorImgTb">
                    <div class="imagen">
                        <img class="logo" src="{% static 'Img/lia.png'%}">
                        <img class="logo" src="{% static 'Img/upte.png' %}">
                        <img class="logo" src="{% static 'Img/upt.png' %}">
                        <img class="logo" src="{% static "Img/Scorpion.png" %}">
                    </div>
                    <div class="tabla">
                        <div class="tabla_tit">
                            <p>Altura actual</p>
                        </div>
                        <div class="tabla_campo">
                            
                        </div>
                        <div class="tabla_tit">
                            <p>Altura maxima</p>
                        </div>
                        <div class="tabla_campo">
                            
                        </div>
                        <div class="tabla_tit">
                            <p>Altura desacople</p>
                        </div>
                        <div class="tabla_campo">
                            
                        </div>
                    </div>
                </div> <!-- Fin contenedor dos -->
                <div>
                    <div class="contenedorDatos2">
                        <div class="contenedorMapaGrafico">
                            <div class="mapa">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1512.0604439429044!2d-98.3846297!3d20.1337218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d0f92a3edcceed%3A0x698e7576e27f75d3!2sCancha%20De%20F%C3%BAtbol%20UPT!5e1!3m2!1ses-419!2smx!4v1707924997782!5m2!1ses-419!2smx"
                                width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                
                            </div>
                        </div> <!-- fin contenedor Mapa Grafica  -->
                        <div class="graf1">
                            <div class="contenedorGraficas">
                                <div class="gráfica">
                                    <img src="{% static '/Img/grafica_altitud.png' %}">
                                </div> 
                                <div class="gráfica">
                                
                                    <img src="{% static '/Img/grafica_temperatura.png' %}">
                                </div>
                                <div class="gráfica">
                                    
                                    <img src="{% static '/Img/grafica_velocidad.png' %}">
                                </div> <!-- Fin gráfica -->
                                <div class="gráfica">
                                    
                                    <img src="{% static '/Img/grafica_aceleracion.png' %}">
                                </div>
                            </div> <!-- Fin contenedor graficas -->
                            <div class="gráfica">
                                
                                <img src="{% static '/Img/grafica_presion.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lata">
                <p>Aqui va el modelo 3d</p>
            </div>
        </div>
    </div> <!-- Fin contenedor -->
</body>
</html>